
.ui.segment:last-child {
    margin-bottom: 0;
    margin-top: 7.0em;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin: auto;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child {
    margin-top:0;
    margin: auto;

}
.body {
    background-color: lightblue;
  }
